<!DOCTYPE html>
<html>
	<head>
		<title>login_page</title>
	</head>
	<body>
		<div class="page-header">
			<h1>Please login system:</h1>
		</div>
		<form method="post" action="/login/">
			<div class="control-group">
				<label class="control-label" for="inputUsername">User Name</label>
				<div class="controls">
					<input type="text" id="inputUsername" name="username" placeholder="User Name" />
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="inputPassword">Password</label>
				<div class="controls">
					<input type="password" id="inputPassword" name="password" placeholder="Password" />
				</div>
			</div>
			<div class="control-group">
				<input type="submit" class="btn" value="Sign In" />
			</div>
		</form>
	</body>
</html>
